<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>772673617291-7enh66ki2mrorlo4pms2lkj1mpjk7od2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.772673617291-7enh66ki2mrorlo4pms2lkj1mpjk7od2</string>
	<key>API_KEY</key>
	<string>AIzaSyCZ4J_EB1OaV0CkHC0axEBihXrxHuduBPE</string>
	<key>GCM_SENDER_ID</key>
	<string>772673617291</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.paingpyaethu.learnSmart</string>
	<key>PROJECT_ID</key>
	<string>learn-smart-90243</string>
	<key>STORAGE_BUCKET</key>
	<string>learn-smart-90243.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:772673617291:ios:51eeaf5d9b8cf0c606038e</string>
</dict>
</plist>